.edit-animate{
	.animate-effect, .animate-direction, .after-animate, .animate-repeat {
		justify-content: space-between;
	}
	select {
		width: 200px;
	}
	.delay, .duration {
		line-height: 24px;
	}
	.after-animate {

	}
}