@import './card-created/index';
@import './card-purchased/index';

.user-tpl-nav {
	.create-tpl {
		width: 160px;
		color: $ek-green !important;
		font-size: 18px;
		padding: 0.375em 1em;
		@include mx-flex-center;
		.sprite {
			width: 18px;
			height: 20px;
			background-position: -230px -337px;
			margin-right: 10px;
		}
	}
}