<!--[if lte IE 9]>
<div id="browser-upgrade">
    <div class="centered">
        <div class="browser-icon">
            <a class="Chrome" href="http://www.baidu.com/s?wd=chrome" target="_blank">
                <img src="/images/icon-chrome.png" alt="Chrome">
                <span class="btn btn-sm btn-success">免费下载</span>
            </a>
        </div>
        <h2>
            <div>为获得更好的使用体验</div>
            <div>建议您使用Chrome浏览器</div>
        </h2>
    </div>
    <div class="brand">
        <img src="/images/brand/logo_light.png" alt="brand">
    </div>
</div>
<![endif]-->
