<div id="footer">
    <div class="container">
        <div class="row hide-on-mobile">
            <dl class="col-md-2 col-xs-6">
                <dt>
                    服务
                </dt>
                <dd><a href="/#">使用协议</a>
                </dd>
                <dd><a href="/#">隐私条款</a>
                </dd>
                <dd><a href="/#">意见反馈</a>
                </dd>
            </dl>
            <dl class="col-md-2 col-xs-6">
                <dt>
                    产品
                </dt>
                <dd><a href="/helps.html">帮助中心</a>
                </dd>
                <dd><a href="/plans.html">价格套餐</a>
                </dd>
                <dd><a href="/#">移动版</a>
                </dd>
                <dd><a href="/#">公益计划</a>
                </dd>
                <dd><a href="/#">数据安全</a>
                </dd>
            </dl>
            <dl class="col-md-2 col-xs-6">
                <dt>
                    行业案例
                </dt>
                <dd><a href="/#">微信营销</a>
                </dd>
                <dd><a href="/#">教育行业</a>
                </dd>
                <dd><a href="/#">电子商务</a>
                </dd>
                <dd><a href="/#">互联网产品</a>
                </dd>
                <dd><a href="/#">房地产</a>
                </dd>
            </dl>
            <dl class="col-md-2 col-xs-6">
                <dt>
                    更多
                </dt>
                <dd><a href="/#" wt-tracker="Footer|Menu|Goto About">关于我们</a>
                </dd>
                <dd><a href="http://weibo.com/echuandan" >新浪微博</a>
                </dd>
            </dl>
            <dl class="col-md-4  col-xs-12 contact">
                <dt>
                    联系我们
                </dt>
                <dd>
                    官方QQ群：<a class="qq-group" href="http://shang.qq.com/wpa/qunwpa?idkey=15dc518cb9f7f9b0aa6e53442889c75e8ad6c29876c6c3d593eba01928bb6c3d" target="_blank">302604735</a>
                </dd>
                <dd>
                    微博 <a href="http://weibo.com/echuandan" target="_blank" >：@echuandan</a>
                </dd>
                <dd>
                    邮箱: <a href="mailTo:team@echuandan.com">956238702@qq.com</a>
                </dd>
                <dd>地址：北京市海淀区左岸工社</dd>
                <dd>邮编：100080</dd>
            </dl>
        </div>
        <div class="text-center">
            Powered By Davinci
        </div>
    </div>
</div>
