<div class="social-login">
    <div class="social-login-content">
      <div class="title">使用第三方账号登录</div>
      <div class="third">
          <div class="third-logins">
            <a class="third-login weixin" href="/oauth/wechat/pcLogin">
                 <i class="fa fa-weixin"></i>
            </a>
            <a class="third-login weibo" href="/oauth/weibo/login">
                <i class="fa fa-weibo"></i>
            </a>
            <a class="third-login qq" href="/oauth/qq/login">
                        <i class="fa fa-qq"></i>
            </a>
            <a class="third-login mingdao" href="/oauth/mingdao/login">
               明道
            </a>
        </div>
      </div>
    </div>
</div>
