<footer class="home-footer">
	<div class="container">
		<a href="/" class="brand">
			<img src="/images/home/logo-slogan.png">
		</a>
		<nav class="nav-footer">
			<ul class="">
				<li>
					<a href="/#">关于我们</a>
				</li>
				<li>
					<a href="/#">联系我们</a>
				</li>
				<li>
					<a href="/plans.html">价格套餐</a>
				</li>
				<li>
					<a href="https://app.yinxiang.com/fx/70648d2f-f1fe-497d-81ef-7dd582cad104" target="_blank">新手教程</a>
				</li>
				<li>
					<a href="/#">免责声明</a>
				</li>
			</ul>
			<div>Powered By Davinci
			</div>
		</nav>
	</div>
</footer>