
{{#if isproduction}}
<link  rel="stylesheet" type="text/css" href="/{{mainCss}}"/>
{{else}}

<link rel="stylesheet" type="text/css" href="/assets/css/vendor.css">
<link rel="stylesheet" type="text/css" href="/assets/css/base.css">
<link rel="stylesheet" type="text/css" href="/assets/css/directive.css">
<link rel="stylesheet" type="text/css" href="/assets/css/service.css">
<link rel="stylesheet" type="text/css" href="/assets/css/flyer.css">
<link rel="stylesheet" type="text/css" href="/assets/css/main.css">

<link rel="stylesheet" type="text/css" href="/assets/css/account.css">
<link rel="stylesheet" type="text/css" href="/assets/css/data.css">
<link rel="stylesheet" type="text/css" href="/assets/css/user.css">
<link rel="stylesheet" type="text/css" href="/assets/css/plaza.css">
<link rel="stylesheet" type="text/css" href="/assets/css/tpl-center.css">
{{/if}}