<div class="user-relation-nav user-sub-nav" ng-init="init()">
	<tabset type="'sub-nav'">
		<tab select="listFriend({})">
			<tab-heading>
				全部好友
			</tab-heading>
		</tab>
		<tab select="listFriend({group: 0})">
			<tab-heading>
				站内好友
			</tab-heading>
		</tab>
		<tab select="listFriend({group: 1})">
			<tab-heading>
				团队成员
			</tab-heading>
		</tab>
	</tabset>

	<div class="add-relation ek-btn btn-hl btn-round btn-grey" ng-click="addRelation()">
		<i class="sprite"></i>
		添加好友
	</div>
</div>

<div class="blk-list" ng-show="relations.length">
	<div class="blk aa-fade disable-hide"
		ng-repeat="relation in relations">

		<user-relation-blk
			ng-model="relation"
			hide-share="{{relation.status === 10}}"
			remove-btn="解除好友"
			hide-remove="{{relation.status === 10}}"
			on-remove="rmFriend(data)">
			<div class="remove">
				好友申请中
			</div>
		</user-relation-blk>
	</div>
</div>

<div class="snippet-empty" ng-if="count === 0">
	<h3>您还没有添加好友</h3>
</div>

<div class="load-more" ng-if="count !== 0 && next">
	<span ng-if="loading">
		<i class="sprite"></i>
	</span>
	<span ng-click="loadMore()">载入更多</span>
</div>