<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="utf-8">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache,must-revalidate">
<meta http-equiv="expires" content="0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta name="keywords" content="营销,H5,HTML5,Davinci,社交营销,微信营销,新媒体营销,病毒传播">
<meta name="description" content="Davinci是简单、强大的H5页面创作、分享、交易平台。">
<meta name="apple-touch-fullscreen" content="YES">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta itemprop="name" content="{{flyer.wxshare.title}}">
<meta name="description" itemprop="description" content="{{flyer.wxshare.desc}}">
<meta itemprop="image" content="{{flyer.wxshare.cover}}">
	<!-- <link rel="icon" href="/images/brand/icon128.ico"> -->

<script type="text/javascript" >
	 {{{tpl.fcScript}}}
</script>

{{#if flyerCssCode}}
	<style>
		{{{flyerCssCode}}}
	</style>
{{/if}}
{{> main_style}}
</head>
<body>
{{> flyer_loading}}

<script type="text/javascript" src="/assets/js/flyer-lib.js"></script>
  <script type="text/javascript">
    {{> flyer_global_config}}
    {{{tpl.uacScript}}}
    {{{tpl.cloudScript}}}
    //主动获取焦点
</script>

{{#if contain.map}}
<script src="http://api.map.baidu.com/api?type=quick&amp;ak=ueX3adPTrQ5Q0daGQYyKe2U0&amp;v=1.0"></script>
{{/if}}

{{> g_script}}
</body>
</html>
