<!DOCTYPE html>
<html>
{{> tag_home_head}}
<body id="helps" class = "{{#if isLogin}} bg-default {{/if}}">
{{> tag_home_header}}
<div class="helps">
	<div class="helps-header">
		<div class="container helps-header-content">
			<i class="fa fa-question-circle icon-help"></i>
			<br/>
			<h2>帮助中心</h2>
			<p>我们将持续完善帮助信息，欢迎您多提意见!</p>
		</div>
	</div>
	<div class="container help-content">
		<div class="row">
			<div class="col-md-4 col-sm-12">
				<h3><i class="fa  fa-rocket"></i>快速入门</h3>
				<ul class="posts">
					<li><a href="#">创建第一个传单</a></li>
					<li><a href="#">发布传单</a></li>
					<li><a href="#">分享传单</a></li>
					<li><a href="#">查看传单的统计数据</a></li>
				</ul>
			</div> 
			<div class="col-md-4 col-sm-12">
				<h3><i class="fa fa-pencil-square"></i>制作传单</h3>
				<ul class="posts">
					<li><a href="#">新手教程</a></li>
					<li><a href="#">样式和主题</a></li>
					<li><a href="#">背景图片</a></li>
					<li><a href="#">背景音乐</a></li>
					<li><a href="#">导出PDF</a></li>
				</ul>
			</div> 
			<div class="col-md-4 col-sm-12">
				<h3><i class="fa fa-thumbs-up"></i>传播传单</h3>
				<ul class="posts">
					<li><a href="#">分享传单</a></li>
					<li><a href="#">微信分享</a></li>
					<li><a href="#">微博分享</a></li>
					<li><a href="#">二维码分享</a></li>
					<li><a href="#">电话分享</a></li>
					<li><a href="#">短信分享</a></li>
					<li><a href="#">联系人分享</a></li>
				</ul>
			</div> 		
			<div class="col-md-4 col-sm-12">
				<h3><i class="fa fa-file-text"></i>数据报表</h3>
				<ul class="posts">
					<li><a href="#">数据统计</a></li>
					<li><a href="#">数据来源</a></li>
					<li><a href="#">邮件访问统计</a></li>
					<li><a href="#">数据安全</a></li>
				</ul>
			</div> 		
			<div class="col-md-4 col-sm-12">
				<h3><i class="fa fa-group"></i>联系人管理</h3>
				<ul class="posts">
					<li><a href="#">新增联系人</a></li>
					<li><a href="#">导入联系人</a></li>
					<li><a href="#">群组管理</a></li>
				</ul>
			</div> 		

			<div class="col-md-4 col-sm-12">
				<h3><i class="fa  fa-bitcoin"></i>价格套餐</h3>
				<ul class="posts">
					<li><a href="#">免费大众版</a></li>
					<li><a href="#">付费版本</a></li>
					<li><a href="#">公益计划</a></li>
					<li><a href="#">扣费周期</a></li>
					<li><a href="#">升级套餐</a></li>
					<li><a href="#">降级套餐</a></li>
				</ul>
			</div> 		
					<div class="col-md-4 col-sm-12">
				<h3><i class="fa fa-wrench"></i>传单设置</h3>
				<ul class="posts">
					<li><a href="#">传单隐私</a></li>
					<li><a href="#">传单外观</a></li>
					<li><a href="#">传单订阅</a></li>
					<li><a href="#">传单评论</a></li>
				</ul>
			</div> 
			<div class="col-md-4 col-sm-12">
				<h3><i class="fa fa-phone-square"></i>移动版</h3>
				<ul class="posts">
					<li><a href="#">安装移动版</a></li>
					<li><a href="#">功能概述</a></li>
					<li><a href="#">查询传单信息</a></li>
					<li><a href="#">账号绑定</a></li>
				</ul>
			</div> 		
			<div class="col-md-4 col-sm-12">
				<h3><i class="fa fa-user"></i>账号与充值</h3>
				<ul class="posts">
					<li><a href="#">修改信息</a></li>
					<li><a href="#">修改密码</a></li>
					<li><a href="#">充值</a></li>
					<li><a href="#">绑定域名</a></li>
					<li><a href="#">绑定社交账号</a></li>
				</ul>
			</div> 		
		</div>
	</div>
	<br/>
	<div class="jumbotron feedback">
	<div class="container">
     <div class="feedback-title">
            <h3>
                <span><i class="fa fa-microphone"></i>  有任何问题请随时联系我们</span>
            </h3>
      </div>
	  <div class="row feedback-content">
	    <div class="col-md-4">
	      <h4>邮件</h4>
	      <p class="channel">support@echuandan.com</p>
	    </div>
	    <div class="col-md-4">
	      <h4>电话</h4>
	      <p class="channel">XXX-XXXX-XXX</p>
	    </div>
	    <div class="col-md-4">
	      <h4>QQ群</h4>
	      <p class="channel">XXXXXXX</p>
	    </div>
	  </div>
	  </div>
	</div>
</div>
{{>footer}} 
{{>home_script}}
</body>
</html>