<!DOCTYPE html>
<html>
{{> tag_home_head}}

<body id="home" >

	{{> home_header}}

	<![if !lte IE 9]>
	<div class="section section1" id="section1">
		<div class="section-container">
			<div class="layer" data-depth="0.30" >
				<img class="new-force"src="/images/home/new-force.png">
			</div>
			<div class="layer" data-depth="0.20" >
				<img class="space" src="/images/home/space.png">
			</div>
			<div class="layer" data-depth="0.30" >
				<img class="disseminate" src="/images/home/disseminate.png">
			</div>
			<div class="layer" data-depth="0.20" >
				<img class="mobile" src="/images/home/mobile.png">
			</div>
			<div class="layer" data-depth="0.15">
				<img class="laptop" src="/images/home/laptop.png">
			</div>
			<div class="layer" data-depth="0.25" >
				<img class="cloud" src="/images/home/cloud.png">
			</div>
			<div class="layer" data-depth="0.30" >
				<img class="data" src="/images/home/data.png">
			</div>

			<div class="layer" data-depth="0.18" >
				<div class="slogan">移动互联时代，最棒的互动营销平台</div>
			</div>

		</div>
		<div class="rocket-container">
			<div class="layer" data-depth="0.3">
				<img class="rocket" src="/images/home/rocket.png">
			</div>

		</div>
		<div class="btn-container">

			<div class="layer" data-depth="0.12" >
				<a class="signup" href="/signup.html" >免费注册</a>
			</div>
			<div class="layer" data-depth="0.12" >
				<a class="invite lbtn lbtn-orange" href="http://club.echuandan.com/topic/5513f998929e6b775e0aa864" target="_blank">邀请好友得易豆</a>
			</div>
		</div>
	</div>
	<div class="section section2" id="section2">
		<div class="section-container">
			<div>
				<div class="section-block">
					<img src="/images/home/s2-p1.png">
					<div class="title">秀创意，有收获</div>
					<div class="desc">无需任何编码经验，通过工具的丰富功能快速将创意转化为成果。创建令人赞叹的模版，更会收获丰厚回报。</div>
				</div>
				<div class="section-block">
					<img src="/images/home/s2-p2.png">
					<div class="title">好营销，更高效</div>
					<div class="desc">营销人员快速上手，办活动、发邀请、推产品，利用精美模版，分分钟搞定，省时省力省成本，让营销更高效。</div>
				</div>
			</div>
			<div class="center-area">
				<div class="section-title">精巧工具，无尽潜力</div>
				<div class="section-desc">小巧而强悍的 HTML5 动效创建工具，为每个人提供无限创作动力。交互友好，操作简单，即便是初次使用，也只需几分钟便可华丽变身 H5 高手。</div>
				<a class="introduction lbtn lbtn-orange" href="http://club.echuandan.com/topic/54e97a046a627712540e6094" target="_blank">一分钟快速入门</a>
				<img class="imac" src="/images/home/imac.png">
			</div>
			<div>
				<div class="section-block">
					<img src="/images/home/s2-p3.png">
					<div class="title">易开发，创双赢</div>
					<div class="desc">开源接口，特效组件开发，为有创想的互联网工程师提供展现实力的通道。组件热销，更可赚取高额收益。</div>
				</div>
				<div class="section-block">
					<img src="/images/home/s2-p4.png">
					<div class="title">做推广，更给力</div>
					<div class="desc">摆脱枯燥乏味，展现品牌魅力。让品牌推广以更精彩的方式触动受众。数据采集，统计分析，做推广更精准。</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section section3" id="section3">
		<div class="section-container">
			<div class="section-title">一种方法，N 种表达</div>
			<div class="section-desc">营销有无数种表达方式，但实现它们或许只需要一种方法。<br>有创意， 可以做得更多更好。借助精美模版，同样可以做得有声有色。</div>
			<div class="section-blocks">
				<div class="section-block">
					<img src="/images/home/s3-p1.png">
					<div class="title">个人展示</div>
				</div>
				<div class="section-block">
					<img src="/images/home/s3-p2.png">
					<div class="title">产品推广</div>
				</div>
				<div class="section-block">
					<img src="/images/home/s3-p3.png">
					<div class="title">活动邀约</div>
				</div>
				<div class="section-block">
					<img src="/images/home/s3-p4.png">
					<div class="title">求职招聘</div>
				</div>
				<div class="section-block">
					<img src="/images/home/s3-p5.png">
					<div class="title">品牌宣传</div>
				</div>
				<div class="section-block">
					<img src="/images/home/s3-p6.png">
					<div class="title">传情祝福</div>
				</div>
				<div class="section-block">
					<img src="/images/home/s3-p7.png">
					<div class="title">游戏互动</div>
				</div>
				<div class="section-block">
					<img src="/images/home/s3-p8.png">
					<div class="title">统计问卷</div>
				</div>
			</div>
			<img class="iphone" src="/images/home/iphone.png">
			<div class="tpl-slogan">“模版库”全面升级，只等出色的你展现实力。</div>
			<a class="try lbtn lbtn-orange" href="#section6">小试牛刀</a>
		</div>
	</div>
	<div class="section section4" id="section4">
		<div class="section-container">
			<div class="section-title">企业营销新渠道</div>
			<div class="section-desc">为中小企业拓宽营销渠道，消解与用户之间的距离，建立数字化营销生态圈，提供一体化的线上服务。</div>
			<div class="section-block">
				<img src="/images/home/link.png">
				<div class="text">
					<div class="title">快享快传播，推广加速度</div>
					<div class="desc">与微信、微博等社交网络无缝连接，与多家在各自领域具有广泛影响力的合作伙伴共享数十万企业用户、商业公众号及高人气自媒体资源。只需轻轻一点，一键分享营销作品，极速传播给亿万用户。令人惊喜的收获，就在分享的一刻。</div>
				</div>
			</div>
			<div class="section-block">
				<div class="text">
					<div class="title">多维度数据分析，营销更精准</div>
					<div class="desc">传播效果全程跟踪，用户反馈实时采集，统计数据多维分析，访问、点击、独立IP、设备细分...准确掌握传播效果，让营销推广有据可依。数字化信息是大数据时代的生产力。</div>
				</div>
				<img src="/images/home/stat.png">
			</div>
		</div>
	</div>
	<div class="section section5" id="section5">
		<div class="section-container">
			<div class="section-title">人气作品展示</div>
			<div class="section-desc">传单，这名字似乎与这高逼格的时代格格不入。但它并不会影响好作品的品质，更无法遮挡它们的光芒。
			<br>相反，正是这些高人气作品赋予了传单新的意义，令它焕发出更强盛的生命力。</div>
			<div class="section-blocks"></div>
			<div class="more">更多优秀作品及精美模版请登录查看</div>
		</div>
	</div>
	<div class="section section6" id="section6">
		<div class="section-container">
			<div class="section-title">小试身手，大放光彩</div>
			<div class="section-desc">免费注册，用创意向所有人宣告你的实力。</div>
			<div class="section-blocks">
				<div class="section-block register">
					<div class="title">注册 ／ 登录</div>
					<a href="/signup.html" class="signup lbtn lbtn-orange">免费注册</a>
					<a href="/signin.html" class="signin lbtn lbtn-green">即刻登陆</a>
					<div class="desc"><span class="orange">邀请小伙伴</span>来${brandName}一起玩耍吧，都有易<br>豆拿哦，那可是硬通货！</div>
				</div>
				<div class="section-block third">
					<div class="title">第三方账号登录</div>
					<div class="third-logins">
						<a class="third-login weixin" href="/oauth/wechat/pcLogin">
							<i class="fa fa-weixin"></i>
						</a>
						<a class="third-login weibo" href="/oauth/weibo/login">
							<i class="fa fa-weibo"></i>
						</a>
						<a class="third-login qq" href="/oauth/qq/login">
							<i class="fa fa-qq"></i>
						</a>
						<a class="third-login mingdao" href="/oauth/mingdao/login">
							明道
						</a>
					</div>
					<div class="desc">使用第三方账号登录即可体验平台功能。</div>
				</div>
				<div class="section-block focus">
					<div class="title">关注公众号 ／ 交流群</div>
					<div class="qrcodes">
						<div class="qrcode">
							<img src="http://s.echuandan.com/echuandan_qrcode.jpg">
							<div class="text">${brandName}公众号</div>
						</div>
						<div class="qrcode">
							<img src="http://s.echuandan.com/qqqun_qrcode.jpg">
							<div class="text">${brandName}亲友团</div>
						</div>
					</div>
					<div class="desc">有想法，要吐槽，快来加入${brandName}亲友团吧，<br>无论是批评还是点赞，我们都喜欢。</div>
				</div>
			</div>
		</div>
	</div>
<!-- 	<div class="section section7">
		<div class="section-container">
			<div class="title">合作伙伴</div>
			<img class="partner" src="http://s.echuandan.com/user/545de3a933f1bc460292860d/2015032720/i6ln61_cr.jpg">
			<img class="partner" src="http://s.echuandan.com/user/545de3a933f1bc460292860d/2015032720/i6ln61_cr.jpg">
			<img class="partner" src="http://s.echuandan.com/user/545de3a933f1bc460292860d/2015032720/i6ln61_cr.jpg">
			<img class="partner" src="http://s.echuandan.com/user/545de3a933f1bc460292860d/2015032720/i6ln61_cr.jpg">
			<img class="partner" src="http://s.echuandan.com/user/545de3a933f1bc460292860d/2015032720/i6ln61_cr.jpg">
			<img class="partner" src="http://s.echuandan.com/user/545de3a933f1bc460292860d/2015032720/i6ln61_cr.jpg">
		</div>
	</div> -->
	<![endif]>

	<script id="hot-flyeies-tpl" type="text/template">
		<div class="section-block">
			<div class="inner">
				<!-- 缩略图 & 二维码 -->
				<div class="top-part">
					<div class="logo">

						<!-- 封面图片 -->
						<img class="flyer-logo full-size" src="http://s.echuandan.com/user/545de3a933f1bc460292860d/2015032720/i6ln61_cr.jpg"/>

					</div>
					<div class="mask"></div>
					<a class="qr-block" href="http://cdn.echuandan.com/6n9yka" target="_blank"></a>
				</div>

				<!-- 基本信息 -->
				<div class="bottom-part">
					<div class="row-1">
						<div class="flyer-title">这里显示作品名称</div>
					</div>
					<div class="row-2">
						<span class="nickname">此处是作者名</span>
						<span class="flyer-tag">作品类型</span>
					</div>
				</div>
			</div>
		</div>
	</script>

	<!-- help -->
	<div class="site-help">
		<div class="go-to-top">
			<i class="fa fa-angle-up"></i>
		</div>
	</div>

	{{> home_footer}}
	{{> home_script}}

</body>

</html>
