<!DOCTYPE html>
<html>

<head>
    <title>Davinci－免费好用的移动社交营销工具</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="keywords" content="营销,H5,HTML5,Davinci,社交营销,微信营销,新媒体营销,病毒传播">
    <meta name="description" content="Davinci是简单、强大的H5页面创作、分享、交易平台。">
    <meta name="apple-touch-fullscreen" content="YES">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="pragram" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    {{#if isproduction}}
        <link rel="stylesheet" href="{{manifest.home}}">
    {{else}}
        <link rel="stylesheet" href="/dist/css/home.css">
    {{/if}}
    	<!-- <link rel="icon" href="/images/brand/icon128.ico"> -->

</head>


<body id="link-outdate" class="error-page">
    <div class="main">
        <div class="info">
            用来验证邮件的链接因为超时，失效了！<br>
            要不，您返回用户中心在账号设置里重新设置一下吧！
        </div>
        <a href="/account" class="go-account">个人中心</a>
        <a href="/" class="go-index">回到首页</a>

    </div>
</body>

</html>
