<div class="custom-map">
    <div class="form-group">
        <span class="btn btn-sm btn-green-click btn-replace-image" ng-click="replaceImage()">替换图片</span>
    </div>
    <hr>
    <div class="form-group blur">
        <div class="control-label">模糊</div>
        <div class="edit-container">
            <div slider ng-model="layer.content.style.blur" min="0" max="100" tooltip="hide"></div>
            <input-number ng-model="layer.content.style.blur" unit="%" input-class="form-control input-sm">
            </input-number>
        </div>
    </div>
    <hr>
    <div class="form-group address">
        <div class="control-label"><span class="required">地址</span></div>
        <i class="fa fa-map-marker"></i>
        <input id="suggestId" type="text" class="edit-container form-control input-sm search-input" ng-model="layer.content.location" placeholder="请输入地址" ng-input-limit="0,40" />
        <div id="searchResultPanel">
        </div>
    </div>
    <div class="form-group">
        <div id="allmap"></div>
    </div>
    <hr>
    <div class="tip">
        <span class="tag">提示</span>
        <span>点击空白区域返回“页面属性”编辑状态</span>
    </div>
</div>