<section>
    <div class="modal-header">
        <h4>添加更多图片</h4>
    </div>
    <div class="modal-body">
        <!-- BEGIN SEARCH -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN INFO -->
                <form class="form-horizontal form-row-seperated">
                    <div class="portlet">
                        <div class="portlet-body">
                            <div class="form-body">
                                <div  class="form-group">
                                    <label for="" class="col-md-3 control-label">一级分类</label>
                                    <div class="col-md-9">
                                         <select class="form-control input-sm" ng-model="image.category"
                                                ng-options="c.tag as c.name for c in categorys">
                                                <option value="">请选择</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-md-3 control-label">二级分类</label>
                                    <div class="col-md-9">
                                         <select class="form-control input-sm" ng-model="image.tag"
                                                ng-options="t.tag as t.name for t in tags"><option value="">请选择</option>
                                          </select>
                                    </div>
                                </div>
                                 <div class="form-group">
                                  <label for="" class="col-md-3 control-label">排序</label>
                                  <div class="col-md-9">
                                       <input type="number" class="form-control" name="sort" ng-model="image.sort" required />
                                    <div class="help-block">
                                        <small>(数字越大，排序越靠前)</small>
                                    </div>
                                  </div> 
                                </div>
                                <div  class="form-group">
                                <label for="" class="col-md-3 control-label">图片链接</label>
                                <div class="col-md-9">
                                
                             <input type="text" class="form-control" name="url" ng-model="image.url" required />
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END INFO -->
            </div>

        </div>
    </div>
     <div class="modal-footer">
            <button class="btn green" data-ng-click="update();">保存</button>
            <button class="btn pink" data-ng-click="close();">取消</button>
      </div>
</section>
