<div class="edit-form edit-style" ng-switch on="layer.type">
	<fi-edit-style-custom-text
		ng-switch-when="1" ng-model="layer"></fi-edit-style-custom-text>
	<fi-edit-style-custom-image
		ng-switch-when="2" ng-model="layer"></fi-edit-style-custom-image>
	<fi-edit-style-custom-ibox
		ng-switch-when="3" ng-model="layer"></fi-edit-style-custom-ibox>
	<fi-edit-style-custom-map
		ng-switch-when="4" ng-model="layer"></fi-edit-style-custom-map>
	<fi-edit-style-custom-video
		ng-switch-when="5" ng-model="layer"></fi-edit-style-custom-video>
	<fi-edit-style-custom-slider
		ng-switch-when="6" ng-model="layer"></fi-edit-style-custom-slider>
	<fi-edit-style-custom-shape
		ng-switch-when="7" ng-model="layer"></fi-edit-style-custom-shape>
</div>
