<div class="user-tpl-card-created">
	<div class="inner">
		<div class="top-part" ng-click="clickTop()">
			<div class="logo">
				<img class="full-size"
					ng-src="{{tpl.logo}}"
					ng-if="tpl.status"
					image-loading/>
			</div>
			<div class="operate">
				<div class="preview"
					ng-if="tpl.status === 30"
					ng-click="preview(); $event.stopPropagation();">预览</div>
				<div class="edit"
					ng-click="edit(); $event.stopPropagation();"
					ng-if="tpl.status !== 20">编辑</div>
				<div class="tip"
					ng-if="tpl.status === 20">审核中不能预览和编辑</div>
			</div>
			<i class="draft sprite"
				tooltip="未完成的大作，期待ing"
				tooltip-placement="bottom"
				tooltip-append-to-body="true"
				ng-if="tpl.status === 10"></i>
		</div>

		<!-- 基本信息 -->
		<div class="bottom-part">
			<!-- 作品标题、菜单 -->
			<div class="row-1">
				<div class="tpl-title" ng-bind="tpl.title"></div>
				<div class="menu dropdown"
					ng-if="tpl.status !== 20 && tpl.status !== 60"
					is-open="dropdown.isopen"
					ng-mouseenter="openDropdown()"
					ng-mouseleave="closeDropdown()">
					<i class="cog sprite dropdown-toggle"></i>
					<ul class="dropdown-menu" ng-mouseenter="openDropdown()">
						<li>
							<a ng-click="config($event)">
								<i class="fa fa-cog"></i>设&nbsp;&nbsp;&nbsp;置
							</a>
						</li>
						<li>
							<a ng-click="edit($event)">
								<i class="fa fa-edit"></i>编&nbsp;&nbsp;&nbsp;辑
							</a>
						</li>
						<li class="del">
							<a ng-click="toRm($event)">
								<i class="fa fa-trash"></i>删&nbsp;&nbsp;&nbsp;除
							</a>
						</li>
					</ul>
				</div>
			</div>

			<!-- 浏览量、最后修改时间 -->
			<div class="row-2" ng-if="!tpl.purchased">
				状态：<span ng-bind="tpl.status|tplStatus"></span>
				<!-- <a href="/account?menu=1" class="right" ng-if="tpl.status === 30">
					<i class="sprite"
						tooltip="点击查看交易记录"
						tooltip-placement="bottom"
						tooltip-append-to-body="true"></i>
				</a> -->
			</div>
		</div>
	</div>
</div>
