<div class="act-msg">
	<div class="act-title" ng-init="initPage()">
		<h3>
			消息管理
			<span class="unread"><span ng-bind="unReadMsgCount"></span> 条未读</span>
		</h3>
		<span class="lbtn lbtn-green read-all" ng-click="readAll()">
			<i class="sprite"></i>
			全部设为已读
		</span>
	</div>
	<div class="content">
		<accordion close-others="true">
			<accordion-group ng-repeat="msg in msgs" ng-click="readMsg(msg)" is-open="isOpen" ng-class="{open: isOpen, unread: msg.status === 10}">
				<accordion-heading>
					<span class="msg-status">{{msg.sender|senderDisplay}}：</span>
					<span bind-html-unsafe="msg.title"></span>
					<span class="ts" ng-bind="msg.createdTime|dateDisplay"></span>
				</accordion-heading>
				<div bind-html-unsafe="msg.content"></div>

				<div class="reply" ng-click="reply(msg.master)" ng-if="msg.sender === 5">回复</div>
				<div class="template" ng-click="viewTpl(msg.extra.template)" ng-if="msg.extra && msg.extra.template">查看模版</div>
				<div class="flyer" ng-click="viewFlyer(msg.extra.flyer)" ng-if="msg.extra && msg.extra.flyer">查看作品</div>
			</accordion-group>
		</accordion>

		<div class="pagination-wrap" ng-if="pagination.content.length">
			<dvcpagination ng-model="pagination" max-size="5" turn="listMsgs(data)"></dvcpagination>
		</div>
	</div>
</div>