.dt-main-area {
	width: calc(100% - 260px);
	min-height: 900px;
	padding-top: 20px;
	background-color: #fff;
	position: relative;
	.btn-back-flyers{
	  	  position: absolute;
		  right: 20px;
		  z-index: 100;
	}
	.tabbable {
		width: 100%;
		.nav-tabs {
			padding-left: 40px;
			> li {
				> a {
					border-radius: 0;
					margin-right: 0;
					color: #4A4A4A;
				}
				&.active {
					> a {
						color: #3B9466;
					}
					&:hover {
						a {
							border-top-color: #ddd;
							border-right-color: #ddd;
							border-left-color: #ddd;
						}
					}
				}
				&:hover {
					a {
						background-color: #fff;
						border-top-color: transparent;
						border-right-color: transparent;
						border-left-color: transparent;
					}
				}
			}
		}
		.dt-form-heading {
			i {
				width: 20px;
				height: 17px;
				background-position: -66px -370px;
				vertical-align: sub;
				margin-right: 8px;
			}
		}
		.dt-stat-heading {
			i {
				width: 18px;
				height: 17px;
				background-position: -21px -370px;
				vertical-align: sub;
				margin-right: 8px;
			}
		}
		.active {
			.dt-form-heading i {
				background-position: -43px -370px;
			}
			.dt-stat-heading i {
				background-position: 0 -370px;
			}
		}
		.tab-content {
			.tab-pane {
				padding: 40px;
			}
		}
	}
}