.svs-flyer-select {
    .modal-dialog {
        top: 25%;
    }

    .table {
    	margin-bottom: 10px;
    	td {
    		cursor: pointer;
    	}
    	.ts {
    		width: 180px;
    	}
    	.radio-input {
    		width: 40px;
    		text-align: center;
    	}
    }
}